.routine-form {
    display:block;
    position: fixed;
    max-width: 200px;
    max-height: 260px;
    left: 0;
    margin-top: 200px;
    background-color: #1c2541;
    border: 1px solid #6fffe9;
}

label {
    font-size: small;
    font-style: bold;
    margin-left: 15%;
    color: #6fffe9;
}

input {
    padding: 0px;
    margin-left: 10%;
}

button {
    margin-left: 32px;
    margin-top: 10px;
    margin-bottom: 15px;
    width: 150px;
    background-color: #5bc0be;
}